@font-face {
    font-family: "Custom";
    src: url(Norse-Bold.otf);
}

.logoText {
    font-family: "Custom";
    font-size: 80px;
    color: white;
    position: absolute;
    align-self: center;
    left: 300px;
}

.logo {
    height: 100px;
    position: absolute;
    align-self: center;
    left: 220px;
}

.background {
    height: 959px;
    width: 650px;
}

.container {
    display: flex;
}

.grey {
    background-color: rgb(46, 45, 45);
    width: 650px;
    height: 150px;
    opacity: 0.8;
}

.box {
    position: absolute;
    display: flex;
    top: 170px;
}

body {
    display: flex;
}

.headingText {
    font-weight: 600;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: 0;
}

#text {
    margin-top: 150px;
    margin-left: 60px;
}

form {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;

}

label {
    display: block;
}

input {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #ccc;
}

.right-side {
    background-color: rgb(245, 245, 245);
    width: 100%;
}

.formContainer {
    font-size: 15px;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 60px;
    margin-top: 70px;
}

legend {
    font-size: 25px;
    color: rgb(39, 39, 39);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

button {
    background-color: rgb(16, 107, 134);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    font-size: 20px;
    border-style: none;
    padding: 15px 60px;
    margin-left: 60px;
    margin-top: 40px;
    border-radius: 15px;
}

button:hover {
    background-color:rgb(50, 153, 184);
    cursor: pointer;
}

.login {
    margin-left: 60px;
    margin-top: 20px;
    font-size: 18px;
}

a {
    color: rgb(16, 107, 134); ;
}

input[type=password]:valid {
    border-color: green;
}

input[type=password]:invalid {
    border-color: red;
}


input[type="text"]:focus {
    border: 4px solid #458ceb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
}

input[type="number"]:focus {
    border: 4px solid #458ceb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
}

input[type="email"]:focus {
    border: 4px solid #458ceb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
}

input[type="password"]:focus {
    border: 4px solid #458ceb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
}